
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

html, body{
	font-family: 'Montserrat', sans-serif;
	background: #F7FAFC;
}

.wrapper {
	min-height: 100%;
	display: grid;
	/**max-width: 1200px;**/
	grid-template: 88px 1fr 97px / 1fr;
}

.header {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
	align-items: center;
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	margin-top: 24px;

}
.header__logo_container {
	flex: 0 0 224px;
	text-align: center;
}
.header__logo {
	display: inline-flex;
}
.header__menu {
	grid-column: 2/3;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

}
.header__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.header_link {
	font-size: 16px;
	line-height: 20px;
	color: #AE7C78;
}

.button{
	background: #D89999;
	border-radius: 40px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 20px;
	color: #FFF;
}
.content__main {

	width: 1200px;
	justify-self: center;
}
.promo {
	display: flex;
	margin-top: 82px;
}
.promo__text {
	display: flex;
	flex-direction: column;
	flex-basis: 384px;
	margin-right: 23px;
}
.promo__title {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
	color: #AE7C78;
}
.promo__title em{
	font-style: italic;
}
.promo__subtitle {
	font-size: 24px;
	line-height: 29px;
	color: #AE7C78;
	margin-top: 24px;
}
.promo__button {
	margin-top: 64px;
	display: flex;
	height: 80px;
	width: 285px;
}
.promo__gallery {
	display: flex;
	min-height: 462px;
	justify-content: space-between;
	min-width: 793px;
}
.promo_image:nth-child(1) {
	align-self: flex-end;
}

.advant {
	margin-top: 48px;
	display: flex;
	color: #AE7C78;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	justify-content: space-between;
}
.advant__container {
	width: 285px;
	float: left;
	margin-left: 20px;
}
.advant__title {
	font-weight: 500;
	margin-bottom: 8px;
}
.item_delivery::before {
	content:'';
	width: 82px;
	height: 52px;
	background: url(../img/icon/advant_icon1.svg);
	vertical-align: top;
	float: left;
}
.item_fresh::before {
	content:'';
	width: 52px;
	height: 52px;
	background: url(../img/icon/advant_icon2.svg);
	vertical-align: top;
	float: left;
}
.item_photo::before {
	content:'';
	width: 59px;
	height: 52px;
	background: url(../img/icon/advant_icon3.svg);
	vertical-align: top;
	float: left;
}

.popular {
	margin-top: 80px;
	color: #ae7c78;
}
.popular__header {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
}
.popular__slider {
	margin-top: 36px;
	display: flex;
	justify-content: center;
}
.popular__item {
	width: 397px;
}
.popular__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-top: 27px;
}
.popular_desc {
	font-size: 16px;
	line-height: 20px;
	margin-top: 20px;
}
.popular__size {
	font-size: 16px;
	line-height: 20px;
	margin-top: 24px;
}
.popular__price {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-top: 24px;
}
.popular__button {
	width: 285px;
	height: 80px;
	margin-top: 64px;
	display: flex;
}
.popular__controls {
	margin-top: 16px;
	display: flex;
	justify-content: center;
}
.popular__controls button{
	height: 16px;
	width: 50px;
	background-color: #F7FAFC;
	margin: 0 10px;
}
.popular__controls button:nth-child(1){
	background-image: url(../img/icon/arrow_less.svg);
}
.popular__controls button:nth-child(2){
	background-image: url(../img/icon/arrow_more.svg);
}
.catalog {
	margin-top: 72px;
	display: flex;
	justify-content: space-between;
}
.catalog__item {
	color: #fff;
	display: flex;
	width: 387px;
	height: 442px;
	background-color: #ae7c78;
	border-radius: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.catalog__item:nth-child(1){
	background-image: url(../img/catalog_flowers1.jpg);
}
.catalog__item:nth-child(2){
	background-image: url(../img/catalog_flowers2.jpg);
}
.catalog__item:nth-child(3){
	background-image: url(../img/catalog_flowers3.jpg);
}
.catalog__item::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	width: 387px;
	height: 442px;
	background: rgba(174,124,120,0.6);
	z-index: 0;
}
.catalog__title {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
	z-index: 1;
}
.catalog__desc {
	font-size: 16px;
	line-height: 20px;
	margin-top: 8px;
	z-index: 1;
}

.sale {
	margin-top: 80px;
	display: flex;
}
.sale__promo {
	background-color: #AE7C78;
	width: 610px;
	height: 391px;
	color: #fff;
	padding-top: 40px;
	padding-left: 102px;
	padding-right: 135px;
}
.sale__title {
	font-family: 'Playfair Display', serif;
	font-size: 44px;
	line-height: 59px;
	letter-spacing: 0.02em;
}
.sale__text {
	font-family: Montserrat;
	font-size: 24px;
	line-height: 29px;
	margin-top: 28px;
}

.steps {
	margin-top: 80px;
	color: #AE7C78;
}
.steps__header {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
	text-align: center;
}
.steps__items {
	display: flex;
	margin-top: 36px;
	justify-content: space-between;
}
.steps__item {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex: 0 1 25%;
}
.steps__item:nth-child(1)::before{
	content: '';
	width: 66px;
	height: 52px;
	background: url(../img/icon/4step_icon1.svg);
	align-self: center;
	margin-bottom: 8px;
}
.steps__item:nth-child(2)::before{
	content: '';
	width: 38px;
	height: 52px;
	background: url(../img/icon/4step_icon2.svg);
	align-self: center;
	margin-bottom: 8px;
}
.steps__item:nth-child(3)::before{
	content: '';
	width: 70px;
	height: 52px;
	background: url(../img/icon/4step_icon3.svg);
	align-self: center;
	margin-bottom: 8px;
}
.steps__item:nth-child(4)::before{
	content: '';
	width: 82px;
	height: 52px;
	background: url(../img/icon/4step_icon4.svg);
	align-self: center;
	margin-bottom: 8px;
}
.item__title {
	font-weight: 500;
}
.item__text {
	font-weight: 400;
	margin-top: 8px;
}

.news {
	margin-top: 80px;
	display: flex;
	color: #AE7C78;
	height: 460px;
}
.news__promo {
	padding-top: 70px;
	padding-right: 125px;
	width: 508px;
}
.news__title {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
}
.news__text {
	font-size: 24px;
	line-height: 29px;
	margin-top: 37px;
}
.sn__list {
	margin-top: 40px;
	display: flex;
}
.sn__list li:nth-child(1) a {
	display: block;
	width: 21px;
	height: 20px;
	background: url(../img/icon/instagram_icon-1.svg);
}
.sn__list li:nth-child(2) a {
	display: block;
	width: 12px;
	height: 20px;
	background: url(../img/icon/facebook_icon-1.svg);
	margin-left: 21px;
	margin-right: 19px;
}
.sn__list li:nth-child(3) a {
	display: block;
	width: 26px;
	height: 20px;
	background: url(../img/icon/twitter_icon-1.svg);
}
.news__image {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.news__image img:nth-child(1) {
	margin-right: 10px;
	margin-bottom: 10px;
}
.news__image img:nth-child(2) {
	margin-right: 10px;
	margin-top: 10px;
}
.news__image img:nth-child(3) {
	margin-left: 10px;
}

.reviews {
	margin-top: 80px;
	height: 308px;
	border: 1px solid #AE7C78;
	display: flex;
	flex-wrap: wrap;
	color: #AE7C78;
	justify-content: space-around;
}
.reviews__title {
	width: 100%;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.02em;
	margin-top: 40px;
	height: 48px;
}
.reviews__item {
	width: 300px;
}
.reviews__text {
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}
.reviews__author {
	display: block;
	margin-top: 16px;
	text-align: center;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
}

.map {
	margin-top: 80px;
	background-image: url(../img/map-1.jpg);
	width: 1440px;
	height: 645px;
	position: relative;
	left: -120px;
	color: #AE7C78;
}
.map__creds {
	background: #F7FAFC;
	position: relative;
	width: 386px;
	height: 520px;
	left: 222px;
	top: 52px;
	border-radius: 12px;
	padding-left: 35px;
	padding-top: 40px;
}
.map__title {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	padding-bottom: 12px;
}
.map__subtitle {
	font-size: 16px;
	line-height: 20px;
	padding-top: 30px;
}
.map__text {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	padding-top: 15px;
}
.map__text a {
	color: #AE7C78;
}

.footer {
	justify-self: center;
	background: #AE7C78;
	width: 100%;
	display: flex;
	justify-content: center;
}
.footer__container {
	width: 1200px;
	display: flex;
	justify-self: center;
}
.footer__logo {
	margin-top: 24px;
	margin-right: 103px;
}
.footer__menu {
	display: flex;
	width: 795px;
	justify-content: space-between;
		margin-top: 30px;
}
.footer__item a{
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}
.sn__list_footer {
	display: flex;
	margin-top: 30px;
	margin-left: 105px;
}
.sn__list_footer li:nth-child(1) a {
	display: block;
	width: 21px;
	height: 20px;
	background: url(../img/icon/instagram_icon_f.svg);
}
.sn__list_footer li:nth-child(2) a {
	display: block;
	width: 12px;
	height: 20px;
	background: url(../img/icon/facebook_icon_f.svg);
	margin-left: 21px;
	margin-right: 19px;
}
.sn__list_footer li:nth-child(3) a {
	display: block;
	width: 26px;
	height: 20px;
	background: url(../img/icon/twitter_icon_f.svg);
}